.container {
  display: flex;

  flex-direction: row;
  margin-left: 5%;
  padding: 30px;
  margin-right: 50%;
  justify-content: center;
  background-color: lightgrey;
}

a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 5px;
}

a:visited {
  color: blue;
}

a:hover {
  color: green;
}

h5 {
  display: inline;
  padding: 5px;
  margin-left: 10px;
}

h2 {
  margin-top: 20px;
  margin-left: 20px;
}

.breedSpecific {
  padding: 5px;
}

nav {
  margin-top: 30px;
  margin-right: 10px;
  height: 600px;
  padding-right: 60px;
}

aside {
  border-right: solid 2px rgb(99, 90, 90);
}

p {
  margin-left: 20px;
  margin-right: 10%;
}

img {
  width: 450px;
  height: 300px;
  max-width: 100%;
  min-width: 30%;
}
