.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 200px;
}

.container1 .dogBreed {
  height: 20px;
}
.break {
  width: 100%;
  height: 0;
}

a {
  display: block;
}

/* .incercare {
  align-items: center;
  justify-content: flex-start;
} */

/* .container2 {
  display: flex;
  flex-direction: column;
} */

/* .dogBreed {
  flex-grow: 1;
  margin-top: 40px;
} */

.image {
  flex-grow: 3;
}

.other {
  flex-grow: 1;
}
